{% assign title = post.title %}
{% include "header" %}

<div class="content">
  <h1>{{post.title}}</h1>
  <span class="user">by {{post.user}}</span>
  <span class="time">{{post.timestamp | format_time}}</span>
  <p class="text">{{post.content}}</p>
</div>

<div class="comments">
{% for comment in comments %}
  {% assign item = comment %}
  {% include "snippet_comment" with item %}
{% endfor %}
</div>

{% include "footer" %}