<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title | escape}}</title>
    <link href="/public/style.css" rel="stylesheet">
  </head>
<body>
  <div class="main">
    <header>
      <span class="title">Node News</span>
    </header>