body {
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
  max-width: 980px;
  margin: 0 auto;
  font-size: 11pt;
}
.clear {
  display: inline-block;
  clear: both;
}
header {
  background-color: #CCC;
  padding: 6px 0;
  margin-bottom: 20px;
}
header .title {
  font-weight: bold;
  color: #333;
  font-size: 14pt;
  display: inline-block;
  margin-left: 34px;
}
header nav {
  display: inline-block;
  margin-left: 20px;
}
header nav a {
  color: #000;
  padding: 0 8px;
}
header nav a:visited {
  color: #000;
}
header .right {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 4px;
}
header .right a {
  color: #000;
}
footer {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 11pt;
  border-top: 4px solid #CCC;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.main {
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eaeaea));
  padding: 6px 2px;
}
.news {
  font-size: 11pt;
  color: #828282;
  padding: 0 12px;
}
.news .item {
  margin: 10px 0;
}
.news .item .index {
  display: inline-block;
  width: 20px;
}
.news .item .title {
  color: #000;
}
.news .item .title:visited {
  color: #828282;
  text-decoration: none;
}
.news .item .text {
  margin-left: 24px;
  display: inline-block;
}
.news .item .user {
  display: inline-block;
  margin-left: 24px;
}
.news .item .time {
  display: inline-block;
}
.news .item .discuss {
  color: #828282;
}
.news .more {
  display: inline-block;
  margin-left: 24px;
  font-size: 11pt;
  color: #000;
  margin-top: 8px;
}
.news .more:visited {
  color: #000;
}
.content {
  margin: 10px 0;
  padding: 0 12px;
  font-size: 11pt;
}
.content h1 {
  font-weight: normal;
  font-size: 14pt;
  margin-bottom: 0;
}
.content .user, .content .time, .content .link, .content .discuss {
  display: inline-block;
  color: #828282;
}
.content .text {

}
.comments {
  margin: 60px 0 30px -30px;
  padding: 0 12px;
  font-size: 11pt;
}
.comments .item {
  margin: 10px 0 10px 30px;
}
.comments .item .user {
  margin: -2px;
}
.comments .item .user, .comments .item .time, .comments .item .link {
  display: inline-block;
  color: #828282;
}
.comments .item .text {
  margin: 0;
}
.comments .item .reply {
  color: #000;
  text-decoration: underline;
}
.reply-box {
  margin-left: 10px;
}
.reply-box textarea {
  font-size: 11pt;
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
  width: 80%;
  height: 100px;
  border: 1px solid #AAA;
  padding: 2px 6px;
}
.reply-box input {
  font-size: 11pt;
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}
.error {
  margin: 50px 10px;
}
.error h1 {
  font-size: 14pt;
}
.error pre {
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
  color: #828282;
  font-size: 11pt;
}
.login-page {
  margin: auto;
  max-width: 500px;
}
.login-page .box {
  border: 1px solid #CCC;
  display: block;
  padding: 12px 30px;
  margin: 30px 12px;
}
.login-page .box .title {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 10px;
  display: inline-block;
}
.login-page .box label {
  display: inline-block;
  width: 90px;
  margin: 12px 0;
}
.login-page .box .input {
  border: 1px solid #AAA;
  font-size: 11pt;
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
  padding: 2px 6px;
  width: 150px;
}
.login-page .box .submit {
  font-size: 11pt;
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}
.submit-page {
  margin: auto;
  max-width: 600px;
}
.submit-page .box {
  border: 1px solid #CCC;
  display: block;
  padding: 12px 30px;
  margin: 30px 12px;
}
.submit-page .box .title {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 10px;
  display: inline-block;
}
.submit-page .box table {
  width: 100%;
}
.submit-page .box .field {
  width: 50px;
}
.submit-page .box .input {
  border: 1px solid #AAA;
  font-size: 11pt;
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
  padding: 2px 6px;
  width: 95%;
}
.submit-page .box textarea {
  height: 100px;
}
.submit-page .box .submit {
  font-size: 11pt;
  font-family: "Microsoft yahei", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}
.submit-page .box .explain {
  color: #828282;
  padding-top: 20px;
}